/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');
html {
    background-color:azure;
    font-family: 'Merriweather', serif;
}
hr {
    border-color:aliceblue;
}
h2 {
    background-color:cornsilk;
}

/* Profile card (picture and description setup) */
.profile-card {
    background-color:cornsilk;
    display: inline-block;
    margin: 2%;
    padding: 2%;
    width: 90%;
}
.profile-card > div {
    height: 300px;
}
/* profile picture styling */
.profile-photo {
    width: 30%;
    float: left;
}
.profile-photo > img {
    width: 95%;
    height: 100%;
}
/* profile description styling */
.profile-description {
    width: 55%;
    float: right;
    overflow: auto;       /* now scrollbar will come, whenever text will try to go out of div */
}

/* skills part styling */
.skills > h2{
    width: 94%;
    border-radius: 2%;
}

/* hobbies part styling */
.hobbies {
    width: 60%;
}
.hobbies > div {
    width: 40%;
    height: 250px;
    display: inline-block;
}

/* google maps (location) styling */
.google-maps{
    width: 94%;
}
.google-maps > h2 {
    border-radius: 2%;
}

/* footer */
footer {
    width: 94%;
}